::-moz-selection{
    background-color: #c9a30a;
}
::selection{
    background-color: #F1C40F;
    color: whitesmoke;
}
.large-title{
    font-size: 36px;
}
.subhead{
    font-size: 26px;
    color: #283747;
}
.highlight-text{
    background-color: #F1C40F;
}
.creative-title{
    background-color: #AED6F1;
    padding: 240px 0;
}
.creative-detail{
    background-color: white;
    padding: 96px 0;
}
.creative-element{
    background-color: #F2F3F4;
    padding: 32px;
}
.footer-section{
    background-color: #F1C40F;
    padding: 48px 0;
}
.important-section{
    background-color: #D6EAF8;
    padding: 32px 0;
}
.jersild-section{
    background-color: white;
    padding: 32px 0;
}
.conclude-section{
    background-color: #F2F3F4;
    padding: 64px 0;
}