<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <h5 style="color:white">SCSY</h5>
                <ul class="nav justify-content-center justify-content-md-start">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Course</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">VDO</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                </ul>
                <p>ภาควิชาเทคโนโลยีและสื่อสารการศึกษา<br>คณะครุศาสตร์อุตสาหกรรมและเทคโนโลยี<br>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</p>
                <img src="https://dummyimage.com/100x20/000/fff">
            </div>
            <div class="col-md-6 text-center text-md-right">
                <img src="https://dummyimage.com/300x200/000/fff">
            </div>
        </div>
    </div>
</div>