<div class="title-introduction">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-center align-self-center">
                <h1>ซินเนคติกส์ (Synectics) คืออะไร?</h1>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
            </div>
        </div>
    </div>
</div>
<div class="meaning-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center align-self-center">
                <p>กอร์ดอน (Gordon, 1972) กล่าวว่าซินเนคติกส์ เป็นกิจกรรมที่มุ่งเน้นการพัฒนาความคิดสร้างสรรค์ให้กับผู้เรียน โดยการนำเอาการเปรียบเทียบมาให้นักเรียนได้พิจารณาและเปรียบเทียบอย่างละเอียด และเป็นระบบ เมื่อกการเปรียบเทียบมาถึงจุดหนึ่ง ผู้เรียนจะสามารถเสนอบทเรียนหรืองานของเขาในมิติที่แตกต่างกันออกไปจากกรอบแนวคิดเดิม ๆ ได้อย่างเกิดผล เป้าหมายหลักของการสอนคือการฝึกฝนให้ผู้เรียนเกิดความคิดสร้างสรรค์ในบทเรียนในการแก้ปัญหาหรือการคิดค้นสิ่งใหม่ ๆ ขึ้นมาโดยการใช้การเปรียบเทียบมาเป็นเครื่องมือในการสร้างสรรค์</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="https://dummyimage.com/500x300/000/fff">
            </div>
        </div>
    </div>
</div>
<div class="synecticsGroup-meaning">
    <h4 class="text-center">ซินเนคติกส์ (Synectics)</h4>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center p-1">
                <p>เป็นทฤษฎีทางวิธีการมุ่งที่จะรวมบุคคลที่มีความแตกต่างกัน ทั้งบุคลิกภาพและความคิด เพื่อร่วมกันกำหนดปัญหาและแก้ปัญหาเชิงสร้างสรรค์ เป็นทฤษฎีเชิงปฏิบัติการที่นำกลไกทางจิตวิทยาที่ซ่อนเร้นทางความคิด (Preconcious thought) มาใช้ในทางความคิดสร้างสรรค์ จุดมุ่งหมายเพื่อการพัฒนาความสำเร็จในการแก้ปัญหาต่าง ๆ อย่างมีประสิทธิภาพ ขบวนการคิดเชิงสร้างสรรค์ของกลุ่มนักวิชาการที่เรียกว่า กลุ่ม Synectics โดยมีศาสตราจารย์ William  J.J. Gordon จากมหาวิทยาลัยฮาวาร์ด เป็นผู้นำกลุ่ม และได้เสนอรายงานผลการศึกษาวิจัยนี้ ไว้ในหนังสือชื่อ SYNECTICS: The Development of Creative Capacity (1961) ซึ่งการค้นคว้าวิจัยของกลุ่ม Synectics อาศัยการคาดการณ์ และจากความเชื่อเบื้องต้นคือ</p>                
            </div>
            <div class="col-lg-4 text-center pt-2">
                <img src="https://dummyimage.com/300x200/000/fff">
                <h5 class="p-1">1.ขบวนการความคิดสร้างสรรค์ของมนุษย์</h5>
                <p class="">สามารถอธิบายเนื้อหาอย่างชัดเจนได้ และผลจะสามารถนำไปใช้ในการสอนด้านวิธีการ เพื่อพัฒนาการคิดสร้างสรรค์สำหรับบุคคลหรือกลุ่มบุคคลได้ </p>
            </div>
            <div class="col-lg-4 text-center pt-2">
                <img src="https://dummyimage.com/300x200/000/fff">
                <h5 class="p-1">2.การประดิษฐ์ หรือคิดค้นทางสร้างสรรค​์</h5>
                <p class="">ทั้งทางศิลปะและวิทยาศาสตร์ จะมีวิธีการ หรือ ลักษณะของขบวนการคิดอยู่บนพื้นฐานของขบวนการทางจิตใจเช่นเดียวกัน</p>  
            </div>
            <div class="col-lg-4 text-center pt-2">
                <img src="https://dummyimage.com/300x200/000/fff">
                <h5 class="p-1">3.ขบวนการคิดสร้างสรรค์ส่วนบุคคล</h5>
                <p class="">ในการแก้ปัญหาต่าง ๆ จะไม่เป็นอุปสรรคหรือลดน้อยใด ๆ เมื่อร่วมกันแก้ปัญหาด้วยกันเป็นกลุ่มบุคคล</p>  
            </div>
        </div>
    </div>
</div>
<div class="target-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 text-center align-self-center">
                <h3>การค้นคว้าของกลุ่ม Synectics<br>มีจุดมุ่งหมาย</h3>
                <p>เพื่อค้นหากลไกทางจิตวิทยา ซึ่งเป็นพื้นฐานของการคิดเชิงสร้างสรรค์ โดยกลุ่มซินเนคติกส์เชื่อว่า ถ้านำผู้มีความสามารถทางการคิดสร้างสรรค์อยู่แล้วมาร่วมกันแก้ปัญหา ก็ย่อมที่จะกำหนดปัญหาต่าง ๆ ได้รอบคอบยิ่งขึ้น และในขณะเดียวกันก็สามารถเสนอผลการแก้ปัญหาได้ดีเช่นเดียวกันด้วย เพราะการรวมกันจะเป็นการกระตุ้นให้แต่ละคนเสนอความคิดโดยการพูด และแสดงความรู้สึกทางอารมณ์อย่างเปิดเผยต่อปัญหาที่กำลังเผชิญอยู่ในขณะนั้น และยิ่งการรวมกลุ่มบุคคลมาจากหลายอาชีพ และหลากหลายในประสบการณ์จึงทำให้มีการกำหนดปัญหาได้อย่างจะแจ้ง และมีการวิเคราะห์ได้อย่างถี่ถ้วน</p>
                <h5>ในอีกประเด็นของการคิดกันเป็นกลุ่มจะทำให้เกิดแนวทางการพิจารณาปัญหาในแนวแปลกและใหม่ต่อปัญหาเดิม เป็นการเพิ่มโอกาสในการหลีกเลี่ยง การกำหนด และแก้ปัญหาตามความเคยชิน</h5>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="https://dummyimage.com/500x300/000/fff">
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
<div class="hypothesis-section">
    <h3 class="text-center pt-4">จากการค้นคว้าของกลุ่ม Synectics</h3>
    <p class="text-center pb-2">ทำให้ได้สมมติฐานที่พอสรุปได้ดังนี้</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 text-left align-self-center p-2">
                <h5>1.ประสิทธิภาพทางความคิดของมนุษย์​</h5>
                <p>สามารถเพิ่มขึ้นอย่างเห็นได้ชัดถ้าเขาเหล่านั้นมีความเข้าใจขบวนการทางจิตวิทยาที่กำลังดำเนินการอยู่ในขณะนั้น</p>
            </div>
            <div class="col-sm-1 p-2"></div>
            <div class="col-sm-5 p-2">
                <img src="https://dummyimage.com/300x200/000/fff"> 
            </div>
            <div class="col-sm-1 p-2"></div>
            <div class="col-sm-5 p-2">
                <img src="https://dummyimage.com/300x200/000/fff"> 
            </div>
            <div class="col-sm-1 p-2"></div>
            <div class="col-sm-5 p-2 align-self-center">
                <h5>2.ในขบวนการคิดสร้างสรรค์</h5>
                <p>องค์ประกอบความคิดทางอารมณ์มีความสำคัญมากกว่าทางสติปัญญาของความฉลาดเชิงเหตุผล</p>
            </div>
            <div class="col-sm-1 p-2"></div>
            <div class="col-sm-5 p-2 align-self-center">
                <h5>3.องค์ประกอบทางความคิดทางอารมณ์<br>ที่ดูเหมือนไร้เหตุผล</h5>
                <p>เมื่อมีการทำความเข้าใจอย่างมีระบบแล้ว ย่อมสามารถปรับเปลี่ยนไปสู่ขบวนการแก้ปัญหาที่สร้างผลสำเร็จในสถานการณ์ปัจจุบันนั้น ๆ ได้</p>
            </div>
            <div class="col-sm-1 p-2"></div>
            <div class="col-sm-5 p-2">
                <img src="https://dummyimage.com/300x200/000/fff"> 
            </div>
        </div>
    </div>
</div>
