<div class="jumbotron jumbotron-fluid mb-0 title-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-left align-self-center order-2 order-lg-1">
                <p>ยินดีต้อนรับสู่เว็บไซต์การเรียนการสอน</p>
                <h1>ซินเนคติกส์ (Synectics)</h1>
                <h5>การเรียนการสอนที่จะทำให้ผู้เรียนได้พัฒนาความคิดสร้างสรรค์ของตนเองอย่างไม่มีขีดจำกัด</h5>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 mb-5 mb-lg-5">
                <img src="https://dummyimage.com/500x300/000/fff.png">
            </div>
        </div>
    </div>
</div>
<div class="introduce-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-left align-self-center order-2 order-lg-1">
                <span class="large-title">Introduce to Synectics</span>
                <p>ซินเนคติกส์ เป็นพื้นฐานของการคิดเชิงสร้างสรรค์ มุ่งพัฒนาความคิดสร้างสรรค์ของผู้เรียนด้วยโดยใช้กระบวนการเปรียบเทียบ <span class="highlight-text">เพื่อช่วยในการสร้างผลงานที่สร้างสรรค์แปลกใหม่ไม่ซ้ำเดิม</span> และจากคุณสมบัติที่สำคัญของความคิดสร้างสรรค์  มนุษย์จะใช้ความคิดสร้างสรรค์ในการผลิตสิ่งใหม่ๆ หรือมีวิธีการคิดแก้ปัญหาอย่างมีกลยุทธ์รอบด้านซึ่งไม่ใช่เฉพาะด้านการงานเท่านั้น แต่ความคิดสร้างสรรค์ยังสามารถนำไปปรับใช้ในชีวิตประจำวัน หรือแม้กระทั่งชีวิตครอบครัวได้อย่างมีประสิทธิภาพอีกด้วย </p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 order-1 order-lg-2 mb-5 mb-lg-0">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OOy764mDtiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="skill-section">
    <div class="container">
        <div class="text-center mb-5 style=">
            <span class="subhead">เมื่อเรียนแล้วจะพัฒนาทักษะในด้าน</span>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <img src="https://dummyimage.com/300x300/000/fff.png">
                    <h5>ด้านศิลปะ (Artistic Creativity)</h5>
                    <p>งานด้านความสุนทรีย์ทั้งหลายที่ช่วยจรรโลงความรู้สึกให้เกิดความสบายใจ ความพึงพอใจและความสุข เช่น การวาดภาพ การถ่ายภาพ การแต่งเพลง การเต้นรำ การออกแบบทรงผม การออกแบบเครื่องแต่งกาย เป็นต้น</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img src="https://dummyimage.com/300x300/000/fff.png">
                    <h5>ด้านการค้นพบ (Creativity of Discovery)</h5>
                    <p>การคิดที่เกิดจาก
                        การสังเกต หรือการปฏิบัติการด้วยการทดลองจากสถานการณ์ที่ใกล้ตัว และค้นพบสิ่งใหม่ ๆ นับตั้งแต่จากผลิตภัณฑ์ที่เป็นธรรมชาติจนถึงผลิตภัณฑ์ใหม่ๆ ที่เกิดจากการประดิษฐ์คิดค้น</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img src="https://dummyimage.com/300x300/000/fff.png">
                    <h5>ทางอารมณ์ขัน (Creativity of Humour)</h5>
                    <p>ซึ่งนับได้ว่าเป็นสิ่งที่พิเศษแตกต่างไปจากสองรูปแบบที่กล่าวมานั้น เพราะการมีอารมณ์ขันนั้นเป็นการมองโลกในมุมมองที่แตกต่างกันออกไป จนเป็นปัจจัยที่ทำให้เกิดความคิดสร้างสรรค์ขึ้น เช่น พวกที่มีอาชีพ Talk Show หรือดาวตลกพวกนี้มักจะจำคำพูด หรือลักษณะท่าทางของบุคคลที่มีชื่อเสียงที่ได้จากสถานการณ์และเหตุการณ์ที่เกิดขึ้นในสังคมขณะนั้น นำมาเสนอในรูปแบบละครตลก หรือสนทนาตลกให้คนชมได้ยินแล้วเกิดอารมณ์ขำจนหัวเราะออกมาอย่างมีความสุข</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="download-section">
    <div class="container">
        <div class="row">
            <div class= "col-lg-6 align-self-center">
                <span class="subhead">สแกนเพื่อดาวน์โหลดเอกสารประกอบการเรียน หรือ</span>
                <button type="button" class="btn btn-primary">Download</button>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <img src="https://dummyimage.com/300x300/000/fff.png">
            </div>
        </div>
    </div>
</div>
<div class="detail-section text-center">
    <div class="container">
        <h5>เนื้อหาการเรียนการสอน</h5>
        <span class="large-title">Synectics</span>
        <p>การเรียนการสอนแบบซินเนคติกส์ เป็นวิธีการสอนการแก้ปัญหาอย่างสร้างสรรค์ มุ่งเน้นให้ผู้เรียนใช้จินตนาการ <br>โดยใช้วิธีการอุปมา เปรียบเทียบ ให้ได้มาซึ่งผลลัพธ์หรือคำตอบเชิงสร้างสรรค์ แบ่งเป็น 4 ลักษณะ ดังนี้ </p>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card border-0 mb-3">
                    <img src="https://dummyimage.com/600x600/000/fff.png" class="card-img-top" alt="..">
                    <div class="card-body text-center px-0 pb-0">
                        <h5 class="card-title">การอุปมาอุปมัยโดยอิงตัวเอง<br>(Personal Analogy)</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-border-0 mb-3">
                    <img src="https://dummyimage.com/600x600/000/fff.png" class="card-img-top" alt="..">
                    <div class="card-body text-center px-0 pb-0">
                        <h5 class="card-title">การอุปมาอุปมัยโดยตรง<br>(Direct Analogy)</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-border-0 mb-3">
                    <img src="https://dummyimage.com/600x600/000/fff.png" class="card-img-top" alt="..">
                    <div class="card-body text-center px-0 pb-0">
                        <h5 class="card-title">การอุปมาอุปมัยโดยอิงบัญญัติ<br>(Symbolic Analogy)</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-border-0 mb-3">
                    <img src="https://dummyimage.com/600x600/000/fff.png" class="card-img-top" alt="..">
                    <div class="card-body text-center px-0 pb-0">
                        <h5 class="card-title">การอุปมาอุปมัยโดยอิงการเพ้อฝัน<br>(Fantasy Analogy)</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="example-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://dummyimage.com/500x300/000/fff.png">
            </div>
            <div class="col-lg-6 text-lg-left">
                <p>เมื่อเรียนแล้วสามารถใช้กิจกรรมการเรียนการสอนแบบซินเนคติกส์ (Synectics) ทั้ง 4 ลักษณะ มาประยุกต์ใช้กับการออกแบบสื่อโฆษณาประเภทต่าง ๆ ได้อย่างเหมาะสมและสร้างสรรค์ ชิ้นงานโฆษณามีความแปลกใหม่ และสามารถกระตุ้นให้เกิดความคิดสร้างสรรค์ได้</p>                    
            </div>
        </div>
    </div>
</div>