<div class="title-section shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <span class="large-title font-weight-bold">แฟ้มสะสมผลงาน</span>
                <h5>จากการเรียนการสอนซินเนคติกส์ (Synectics)</h5>
                <p>ภาควิชาเทคโนโลยีและสื่อสารการศึกษา<br>คณะครุศาสตร์อุตสาหกรรมและเทคโนโลยี<br>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</p>
            </div>
            <div class="col-lg-7">
                <img src="https://dummyimage.com/500x300/000/fff">
            </div>
        </div>
    </div>
</div>
<div class="type-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center text-right">
                <h3>ผลงานจากการเรียนซินเนคติกส์ (Synectics)</h3>
                <h1 class="">ทั้ง 4 ลักษณะ</h1>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <a href="https://drive.google.com/drive/folders/1V_85P3bAmGZsgSoamGOBkRbpyrpr6B_z?usp=sharing" class="btn btn-outline-info font-weight-bold">1. การอุปมาอุปมัยโดยอิงตัวเอง (Personal Analogy)</a><br><br>
                <a href="https://drive.google.com/drive/folders/1wvc9Lr-04V197xP7VHQu89yWHyAu3MVc?usp=sharing" class="btn btn-outline-info font-weight-bold">2. การอุปมาอุปมัยโดยตรง (Direct Analogy)</a><br><br>
                <a href="https://drive.google.com/drive/folders/14m4h1gQV5VuCZ2gzV0lDt02Wg3ElgRjK?usp=sharing" class="btn btn-outline-info font-weight-bold">3. การอุปมาอุปมัยโดยอิงบัญญัติ (Symbolic Analogy)</a><br><br>
                <a href="https://drive.google.com/drive/folders/1zwRM5zIpNGgdtKezx3O5Me3iB6iQfBzP?usp=sharing" class="btn btn-outline-info font-weight-bold">4. การอุปมาอุปมัยโดยอิงการเพ้อฝัน (Fantasy Analogy)</a><br><br>

            </div>
            <div class="col-lg-6">
                <a href="https://drive.google.com/drive/folders/1WzH_AsucTRjGJ_CaUd8sQ6JVu0UviTEd?usp=sharing" class="btn btn-outline-info font-weight-bold">ผลงานพิเศษ</a><br><br>
                <a href="https://drive.google.com/drive/folders/1x0wr9A8Op_-P9Uy0qFox4cjPUycDML93?usp=sharing" class="btn btn-outline-info font-weight-bold">การสร้าง Banana Guard จากการเรียนซินเนคติกส์</a><br><br>
                <a href="https://drive.google.com/drive/folders/1h5qPchHIRa8ND-H-zUy70kp2r91_PcgK?usp=sharing" class="btn btn-outline-info font-weight-bold">การสอบหลังเรียนซินเนคติกส์</a><br><br>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 align-self-center">
                <h3>ผลงานอื่น ๆ</h3>
                <h1 class="">จากการเรียนซินเนคติกส์ (Synectics)</h1>
            </div>
        </div>
    </div>
</div>

